
.navbar{
	font-size: 14px;
	background-color: #000;
	width: 100%;
	height: 80px;
	padding: 0 5px;
	line-height: 80px;
  display: flex;
	flex-direction: row;
	justify-content: end;
}

.text-logo{
	color: #fff;
	text-decoration: none;
	font-size: 26px;
	font-weight: bold;
	display: flex;
	justify-content: start;
}


.nodeco{	
	text-decoration: none;
}

ul li a{
	color: #fff;
	margin: 0 10px;
	text-transform: uppercase;
}

nav ul{
	display: flex;
	list-style-type: none;
}

.navlink{
	padding: 8px 12px;
	border-radius: 4px;
}

.navlink:hover {
	background-color: #b4ddd1;
	transition: 0.5s;
}